
body
    {
        width: 75%;
        margin: auto;
    }
header
    {
        margin-bottom: 30px;
    }
header h1
    {
        display: inline-block;
        width: 70%;
    }
#imatgeheader
    {
        width: 100%;
    }
#logo
    {
        float: right;
        margin: 20px 0;
        width: 30%;
    }
#identificador input,button
    {
        font-size: 0.6em;
        text-align: left;  
    }

h3
{
    text-align: center;
    color: darkblue;
    font-size: 1.5em;
}
table,th,td
{
border: 1px solid black;  
    }
th
{
    background-color: cornflowerblue;
}
td
{
    padding: 0 5px;
}
td a
{
    text-decoration: none;
    font-weight: bold;
}
tr:hover
{
    background-color: antiquewhite;
    font-size: 1.1em;
}
#video
    {
        float: right;
    }
iframe
    {
        display: block;
    }
#detalls
    {
        border: 2px solid blue;
        border-radius: 50px;
        margin: 10px;
        width: 50%;
        text-align: center;
        clear: both;
        display: inline-block;
        float: left;
    }
#fotodesc
    {
        float: right;
        width: 30%;
    }

#forminscripcio
    {
        float: left;
        width: 45%;
        vertical-align: text-top;
        

    }
#formescondido
    {

        box-shadow: 10px 10px 10px blue;
        margin-top: 20px;
        border: 1px solid blue;
     }
 #formescondido h4
    {
        margin: 0;
        text-align: center;
    }

        
   
#cargarform
    {
        float: right;

        margin: 5px;
    }
input, label, textarea, select
    {
        margin: 0 5px;
    }
/*  --------  privat -----  */

#resultado
{
    width: 40%;
    float: right;
    margin-left: 20px;
    margin-top: 40px;
    
}
#resultado span
{
    color: darkblue;
    font-weight: bold;
    
}
.eliminar
      {
          width: 20px;
      }
.fototastet
{
    width: 150px;
}
#formmodificar
{
    width: 80%;
    padding: 10px;
    border: 2px solid blue;
}
.inputlong
{
    width: 300px;
}
.inputshort
{
    width: 50px;
}
